.chat-screen{
    display: flex;
}
.chat-screen .aside-left{
    width:25%;
    padding: 0px 15px;
}
.chat-screen .chat-container{
    width: 75%;
    height: 100vh;
    
}
.chat-screen .chat-container message-list{
    height: calc(100% - 70px);
    display: block;
    margin-bottom: 25px;
}