.user-action .btn{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: blue;
    margin: 5px 0px;
    border: 1px solid blue;
}
.user-action .btn-bite{
    background-color: green;
    border-color: green;
}
.user-action .btn-stop-flirting{
    background-color: yellow;
    border-color: yellow;
}
.user-action .btn-end-chat{
    background-color: tomato;
    border-color:tomato ;
}